* {
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    font-size: large;
}

    

body {
    overflow-x: hidden;
}

.header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./banner.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;

}

nav {
    display: flex;
    justify-content: space-between;
    padding: 2% 6%;
    align-items: center;
}

nav img {
    width: 150px;
}

.navlinks {
    flex: 1;
    text-align: right;

}

.navlinks ul li {
    list-style: none;

    display: inline-block;
    padding: 8px 12px;
    position: relative;
    font-family: sans-serif serif;
}

.navlinks ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;


}

.navlinks ul li a::after {}

.navlinks ul li a:hover {
    color: #f44336;
    border-bottom: 1px solid #f44336;
    border-top: none;
    border-left: none;
    border-right: none;

}

.text-box {
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}

.text-box h1 {
    font-size: 62px;
}

.text-box p {
    font-size: 14px;
    margin: 10px 0 40px;
    color: #fff;
}

.hero-bttn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 5px 12px 5px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.hero-bttn:hover {
    border-radius: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

.end {
    display: none;
}

@media(max-width:700px) {
    .text-box h1 {
        font-size: 20px;
    }




    .navlinks {
        display: none;
    }

    .end {
        display: block;

    }

}

.first {
    display: block;
    color: #fff;
    margin: 10px;
    font-size: 22px;
    cursor: pointer;
    width: auto;
}

.course {
    width: 80%;
    margin: auto;
    padding-top: 100px;
    text-align: center;
}

h1 {
    font-size: 36px;
    font-family: 600;
    text-align: center;
    padding-top: 30px;
}

p {
    font-size: 14px;
    font-weight: 300;
    color: #777;
    line-height: 22px;
    padding: 10px;
    text-align: center;
    padding-top: 10px;
}

.row {
    margin-top: 100PX;
    display: flex;
   
    justify-content: space-between;
}

.course-col {
    flex-basis: 31%;
    margin-bottom: 5%;
    border-radius: 10px;
    background-color: #fff3f3;
    box-sizing: border-box;
    padding: 20px 12px;
    transition: 0.5s;
}

h3 {
    text-align: center;
    font-weight: 600;
    margin: 10px 0px;
}

.course-col:hover {
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
}

@media (max-width:700px) {
    .row {
        flex-direction: column;
    }
}

.campus {
    text-align: center;
    margin: auto;
    width: 80%;
    padding-top: 50px;
}

.campus-col {
    border-radius: 10px;
    flex-basis: 32%;
    margin-bottom: 32px;
    position: relative;
    overflow: hidden;
}

.campus-col img {
    width: 100%;
    display: block;

}

.layer {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.5s;
}

.layer:hover {
    background: rgba(226, 0, 0, 0.7);
}

.layer h3 {
    font-weight: 500;
    width: 100%;
    color: #fff;
    font-size: 26px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    transition: 0.5s;
}

.layer:hover h3 {
    opacity: 1;
    bottom: 70%;

}

.facilities {
    width: 80%;
    text-align: center;
    padding-top: 100px;
    margin: auto;
}

.facilities-col {
    flex-basis: 31%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
}

.facilities-col img {
    width: 100%;
    border-radius: 10px;

}

.facilities-col p {
    padding: 0;
}

.facilities-col h3 {
    margin-top: 13px;
    margin-bottom: 16px;
    text-align: left;
}

.testimonials {
    width: 80%;
    padding-top: 100px;
    text-align: center;
    margin: auto;
}

.testimonial-col {
    flex-basis: 44%;
    border-radius: 10px;
    margin-bottom: 5%;
    text-align: left;
    background: #fff3f3;
    padding: 25px;
    cursor: pointer;
    display: flex;
}

.testimonial-col img {
    height: 40px;
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;

}

.testimonial-col p {
    padding: 0;

}

.testimonial-col h3 {
    margin-top: 15px;
    text-align: left;
}

.ctn {
    width: 80%;
    margin: 100px auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
        url(./banner2.jpg);
    background-position: center;
    background-size: cover;
    padding: 100px 0;
    border-radius: 10px;
    text-align: center;
}

.ctn h1 {
    color: #fff;
    padding-bottom: 40px;
}

@media (max-width:700px) {
    .ctn h1 {
        font-size: 24px;
    }
}

.footer {
    width: 100%;

    text-align: center;

}

.footer h4 {
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

/* ------About us----- */
.sub-header {
    padding-bottom: 30px;
    background-image: linear-gradient(rgba(4, 9, 30, 0.7), rgba(4, 9, 30, 0.7)), url(./background.jpg);
    background-position: center;
    background-size: cover;


    color: #fff;
    height: 30vh;

}

.sub-header h1 {
    text-align: center;
    font-weight: 300;

    padding-top: 10px;
}


.about-us {
    width: 100%;

}

.about-colo {
    padding: 2px;
    text-align: center;
    margin: 20px;
}

.about-colo img {
    width: 100%;
    border-radius: 10px;
}

.about-colo h1 {
    padding-top: 0;
    text-align: center;

}

.about-colo p {
    padding: 15px 0 25px;
    text-align: left;

}

.red-btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 12px 5px 12px 5px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}

.red-btn:hover {
    border-radius: 1px solid #f44336;
    background: #f44336;
    transition: 1s;
}

/* ----blog-content------ */
.blog-content {
    width: 80%;
    margin: auto;
    padding: 10px 0;
}

.blog-left {
    flex-basis: 65%;
}

.blog-left img {
    width: 100%;
}

.blog-left h2 {
    color: #222;
    font-weight: 600;
    margin: 10px 0;

}

.blog-left p {
    text-align: justify;
    font-size: large;
    font-weight: 100;
    color: #222;
    padding: 0;
}

.blog-right {
    width: 30%;
    top: 50%;
    right: 20%;
}

.blog-right h3 {
    background-color: #f44336;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}

.blog-right div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 10px;
    color: #222;
}
.comment-box{
    border: 1px solid #ccc;
    margin: 50px 0px;
    padding: 10px 20px;
}
.comment-box h3{
    text-align: left;
}
.comment-box form,.comment-box textarea{
    width: 100%;
    margin:15px 0 ;
    padding:10px 0 10px 10px ;
    box-sizing: border-box;
    border: none;
    outline: none;
    background: #f0f0f0;
}
.comment-box form input{
    border: none;
    padding: 8px 0px 8px 5px;
}

textarea {
    color: #222;
}
.comment-box button{
    margin: 10px;
}
@media(max-width:700px){
    .sub-header h1{
        font-size: 14px;
    }
}
.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    /* margin-bottom:30px; */
}
.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contact-col div img{
    margin: 10px 10px 0 0;
}